
###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/src/.preload.php
/var/
/vendor/
###< symfony/framework-bundle ###
/.idea/codeStyles/codeStyleConfig.xml
/.idea/sonarlint/issuestore/index.pb
/.idea/modules.xml
/.idea/myguestbook.iml
/.idea/php.xml
/.idea/vcs.xml
/.idea/workspace.xml
